body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.fa-5x {
  margin-right: 5%;
}
.w3-row-padding img {margin-bottom: 3%}
/* Set the width of the sidebar to 3% */
.w3-sidebar {
  width: 15%;
  background: #222;
  height: 100%;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 15%}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}